<div class="main">
  <div class="title">
    <h1>
      Platform Commons Assignment
    </h1>
  </div>

  <h2 class="user">
    Users List
  </h2>
  <mat-form-field appearance="fill">
    <mat-label>Select Users</mat-label>
    <mat-select
      [(ngModel)]="parent_id"
      name="fieldName"
      ngDefaultControl
    >
      <mat-option
        *ngFor="let item of parent_data"
        [value]="item['Id']"
      >
        {{item["name"]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-child [parent_id]="parent_id"></app-child>
</div>

